<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Погода в реальном времени</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Developed by Mikhail Rukavishnikov</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#"></a>
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/contacts">Контакты</a>
        </nav>
        <a class="btn btn-outline-primary" href="/admin">Войти</a>
    </div>
    <div class="container mt-2">
        <div class="row">
                <h3>О проекте</h3>
                <p>Приложение работает на API сайта openweathermap.org, 
                    которое отслеживает погоду в режиме реального времени. 
                    Если Вашего города нет в списке городов в правой части главной страницы,
                     введите его название в форму и нажмите "Узнать" - информация о Вашем городе появится снизу</p>
        </div>
    </div>
    <div class="container" align="center">
        <hr>
        &copy; All rights reserved 2020
</body>

</html>